{% schema %}
{
  "name": "RSS Feed Wall",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "RSS Feed Wall"
    }
  ]
}
{% endschema %}

<div class="u-max-width-100 u-padding-40">
  <rssapp-magazine id="tBY9jk3om63T7kGW"></rssapp-magazine>
  <rssapp-magazine id="tNNdCyR9CP9IKalu"></rssapp-magazine>
  <rssapp-magazine id="Up1pkMi79MoiqFLZ"></rssapp-magazine>
  <rssapp-magazine id="hoA7PkYrpegwdi0O"></rssapp-magazine>

  <script src="https://widget.rss.app/v1/magazine.js" type="text/javascript" async></script>
</div>
